In [1]:
import pandas as pd
from dotenv import load_dotenv
from os import getenv
load_dotenv()

In [2]:
# use python 3
import glob
import yaml
from functools import reduce
from toolz import pipe

In [23]:
def load_endclusts_as_df(filelist):
    li = [pd.read_csv(file, header=None, sep="\t") for file in filelist]
    df = pd.concat(li, axis=0, 
                   keys=[f.split("/")[-1].split(".")[0] for f in all_files], 
                   names=["cluster", "orig_idx"]).reset_index()
    df.columns = ['cluster', 'orig_idx', "CellID"]
    return df

In [38]:
# %%
df = load_endclusts_as_df(glob.glob("FGIDendclusts/*"))
df.cluster = df.cluster\
               .str.split("tier")\
               .str.join("_T")\
               .str.split("_clust")\
               .str.join("C")\
               .str[1:]

In [39]:
df.shape

(115569, 3)

In [40]:
df.head()

                    cluster  orig_idx                                  CellID
0  T0C0_T1C4_T2C0_T3C5_T4C3         0  p049_T0D_ILE_LPS_3p_AAGACCTTCCCATTTA-1
1  T0C0_T1C4_T2C0_T3C5_T4C3         1  p049_T0D_ILE_LPS_3p_ACGGGCTTCAAACCAC-1
2  T0C0_T1C4_T2C0_T3C5_T4C3         2  p049_T0D_ILE_LPS_3p_ACTGAGTAGTTCGATC-1
3  T0C0_T1C4_T2C0_T3C5_T4C3         3  p049_T0D_ILE_LPS_3p_AGCTTGACAGCCTGTG-1
4  T0C0_T1C4_T2C0_T3C5_T4C3         4  p049_T0D_ILE_LPS_3p_AGTTGGTTCACTGGGC-1

In [47]:
t1c1t2c0 = glob.glob("bclls_T1C1_T2C0_endclusts/*")

In [52]:
t1c1t2c0 = pd.DataFrame(t1c1t2c0, columns=["src"])

In [78]:
t1c1t2c0["dst"] = t1c1t2c0.src\
    .str.split("/")\
    .str[1]\
    .str.replace("tier\d", lambda s: f"tier{str(int(s[0][-1]) + 2)}")\
    .str.replace("tier2_clust0", 'curated_endclusts/tier0_clust0tier1_clust1tier2_clust0')

In [95]:
for i, row in t1c1t2c0.iterrows():
    !cp {row.src} {row.dst}

In [96]:
t1c1t2c1 = glob.glob("bclls_T1C1_T2C1_endclusts/*")

In [97]:
t1c1t2c1 = pd.DataFrame(t1c1t2c1, columns=["src"])

In [98]:
t1c1t2c1["dst"] = t1c1t2c1.src\
    .str.split("/")\
    .str[1]\
    .str.replace("tier\d", lambda s: f"tier{str(int(s[0][-1]) + 2)}")\
    .str.replace("tier2_clust0", 'curated_endclusts/tier0_clust0tier1_clust1tier2_clust1')

In [99]:
for i, row in t1c1t2c1.iterrows():
    !cp {row.src} {row.dst}